.card_container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #666;
  width: 250px;
  height: 400px;

  border-radius: 10px;
  background-color: #999;

  padding: 10px;

}
.card_img{
  background-color: #fff;
}
.card_img > img{
  width: 100%;
}

.card_container > h1{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-variant: small-caps;
}

.card_types{
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top:5px;
}

.card_types > span{
  border: none;
  /* background-color: red;
  color: #fff; */
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  font-variant: small-caps;
}


.grass{ background-color: #0d5138; color: #fff;}
.fire{  background-color: #d4491e; color: #fff;}
.water{background-color: #1a2585;color: #fff;}
.bug{background-color: #66d28e; color: #fff;}
.flying{border: 1px solid #999bd7; color: #333333;}
.normal{border: 1px solid #c9c9c9;}
.fighting{background-color: #b2b2b2; color: #fff;}
.poison{background-color: #d23232; color: #fff;}
.ground{background-color: #9a8f10; color: #fff;}
.rock{background-color: #665c4c; color: #fff;}
.ghost{background-color: #e6c691; color: #fff;}
.steel{background-color: #8b8b8b; color: #fff;}
.electric{background-color: #ffec68; color: #333;}
.psychic{background-color: #7b48c3; color: #fff;}
.ice{background-color: #5d6dae; color: #1e1c1c;}
.dragon{background-color: #3d6743; color: #fff;}
.dark{background-color: #000000; color: #fff;}
.fairy{background-color: #713968; color: #fff;}
.unknown{background-color: #dfdfdf; color: #000000;}
.shadow{background-color: #525252; color: #ffffff;}
